* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');


main {
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5vh 2rem;
}

.main-img {
    width: 100%;
    max-height: 444px;  
    
}
.img-main{

    display: flex;
    justify-content:center ;
}

.main-logo {
    width: 100px
}

i {
    color: hsl(223, 87%, 63%);
    border-radius: 100%;
    padding: 15px;
    width: 15px;
    margin: 25px 7.5px;
    cursor: pointer;
}

i:hover {
    background-color: hsl(223, 87%, 63%);
    color: white;
}

h1 {
    margin: 25px 0 15px 0;
    font-size: 3rem;
}
h2 {
    text-align: center;
    color: hsl(354, 100%, 66%);
    font-size: .75rem;
    font-weight: 400;
    margin-top: 5px;
    display: none;
}
span {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}

#email {
    border-radius: 25px;
    padding: 1rem 14rem;
    padding-left: 1rem;
    border: solid 1px hsl(0, 0%, 59%);
    margin-right: 1rem;
}
.email:focus{
    outline: none;
}

button {
    background-color: hsl(223, 87%, 63%);
    border: none;
    font-weight: 700;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 1rem 4rem;
    align-self: flex-start;
}
button:hover{
    background-color: hsl(225, 67%, 70%);
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail {
    display: flex;
    flex-direction: column;

}

.email-container {
    margin: 25px 0;
    height: 75px;
    
}

.error-state {
    display: block;
    font-size: .80rem;
    font-style: italic;
    color: hsl(354, 100%, 66%);
    margin-left: 1rem;
    margin-top: 0.5rem
}
.hide{
    display: none;
}

.error-border {
    border: solid 1px hsl(354, 100%, 66%)!important;
}

footer {
    text-align: center;
}


